---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { TbPlaneTilt } from "react-icons/tb";


const { content } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[content.imagePath]) {
  throw new Error(
    `"${content.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
}

---

<section class="h-min flex relative">
  <Image
    src={images[content.imagePath]()}
    alt={content.imageAlt}
    loading={"lazy"}
    class="relative -z-0 object-cover w-6/12"
  />
  <div class="w-3/12 bg-muted-400 z-10 absolute h-full left-[40%] skew-x-12"/>
  <div class="z-20 w-full mx-auto py-8 bg-muted-400 flex flex-col justify-center itens-center gap-5">
    <h2 class="text-4xl"
    set:html={content.header}>
    </h2>
    <div class="h-1 w-24 bg-primary-700 rounded-sm"></div>
    {
      content.fleet?.map((plane) => (
        <div class="flex gap-4 items-center group">
          <TbPlaneTilt  className="h-11 w-11 text-primary-800 group-hover:animate-pulse"/>
          <div class="w-8/12">
            <h3 set:html={`${plane.name} ${plane.rates}`}></h3>
            <p set:html={plane.description}></p>
          </div>
        </div>
      ))
    }
    <div
      class="mt-6 w-full flex flex-wrap justify-start align-middle items-center gap-6 z-10"
    >
      {
        content.buttons?.map((btn) => (
          <a
            href={btn.link}
            class={`${btn.primary ? "btn-accent" : "btn-accent"} w-full md:w-auto`}
          >
            {btn.name}
          </a>
        ))
      }
    </div>
  </div>

</section>
