---
import FleetCard from "./FleetCard.astro";


const { content } = Astro.props;
---

<section class="py-12 bg-muted-300">
  <div class="container mx-auto px-6 lg:px-12">
    <h2 class="text-3xl font-bold text-center text-primary-700 mb-10">Our Fleet</h2>
    <div class="space-y-12">
      {content.fleet.map((plane) => (
        <FleetCard 
          name={plane.name}
          imagePath={plane.image}
          rates={plane.rates}
          description={plane.description}
          details={plane.details}
        />
      ))}
    </div>
  </div>
</section>
